In [4]:
import pandas as pd
from id3 import Id3Estimator, export_text, export_graphviz
import numpy as np

In [21]:
df=pd.read_csv('c://python/iris.csv')
df.head()

,index,"""Sepal_Length""","""Sepal_Width""","""Petal_Length""","""Petal_Width""","""Species"""
0,"""1""",5.1,3.5,1.4,0.2,"""setosa"""
1,"""2""",4.9,3.0,1.4,0.2,"""setosa"""
2,"""3""",4.7,3.2,1.3,0.2,"""setosa"""
3,"""4""",4.6,3.1,1.5,0.2,"""setosa"""
4,"""5""",5.0,3.6,1.4,0.2,"""setosa"""

In [41]:
feature_names=['Sepal_Length','Sepal_Width','Petal_Length','Petal_width']

In [42]:
xList=[0 for i in range(len(df))]
for i in range(len(df)):
    xList[i]=list(df.loc[i,'"Sepal_Length"':'"Petal_Width"'])

In [43]:
X=np.array(xList)

In [44]:
y=np.array(list(df['"Species"']))

In [45]:
clf=Id3Estimator()
clf.fit(X,y,check_input=True)

print(export_text(clf.tree_,feature_names))

Petal_Length <=2.45: "setosa" (50)
Petal_Length >2.45
|   Petal_width <=1.75
|   |   Sepal_Length <=7.10
|   |   |   Sepal_Width <=2.85: "versicolor" (27/4)
|   |   |   Sepal_Width >2.85: "versicolor" (22)
|   |   Sepal_Length >7.10: "virginica" (1)
|   Petal_width >1.75
|   |   Sepal_Length <=5.95
|   |   |   Sepal_Width <=3.10: "virginica" (6)
|   |   |   Sepal_Width >3.10: "versicolor" (1)
|   |   Sepal_Length >5.95: "virginica" (39)