In [58]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
merge=pd.read_csv('merge_predict.csv',index_col=0,thousands = ',')

In [3]:
merge.head()

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h_15,h_16,h_17,h_18,h_19,h_20,h_21,h_22,h_23,h_24
0,1,2004,1,1,16853.0,16450.0,16517.0,16873.0,17064.0,17727.0,...,55.0,55.0,52.0,46.0,40.0,40.0,39.0,38.0,40.0,41.0
1,1,2004,1,2,14155.0,14038.0,14019.0,14489.0,14920.0,16072.0,...,54.0,56.0,57.0,53.0,50.0,47.0,46.0,45.0,45.0,45.0
2,1,2004,1,3,14439.0,14272.0,14109.0,14081.0,14775.0,15491.0,...,69.0,68.0,68.0,65.0,64.0,63.0,62.0,63.0,63.0,62.0
3,1,2004,1,4,11273.0,10415.0,9943.0,9859.0,9881.0,10248.0,...,71.0,72.0,71.0,68.0,67.0,67.0,65.0,64.0,65.0,64.0
4,1,2004,1,5,10750.0,10321.0,10107.0,10065.0,10419.0,12101.0,...,66.0,66.0,66.0,66.0,63.0,54.0,52.0,49.0,47.0,47.0

In [4]:
temp=pd.read_csv('submission_template.csv',index_col=0)
temp.head()

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
id,,,,,,,,,,,,,,,,,,,,,
1,1,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
temp['h1'][1]=1
temp.head()

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
id,,,,,,,,,,,,,,,,,,,,,
1,1,2005,3,6,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2005,3,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
merge_info=merge[['zone_id','year','month','day']]
merge_info.head()

   zone_id  year  month  day
0        1  2004      1    1
1        1  2004      1    2
2        1  2004      1    3
3        1  2004      1    4
4        1  2004      1    5

In [9]:
temp_info=temp[['zone_id','year','month','day']]
temp_info.head()

    zone_id  year  month  day
id
1         1  2005      3    6
2         2  2005      3    6
3         3  2005      3    6
4         4  2005      3    6
5         5  2005      3    6

In [17]:
lentemp=len(temp)
temp_info['zone_id'][lentemp]

21

In [34]:
tempList=list(temp_info.iloc[0])
tempList

[1, 2005, 3, 6]

In [55]:
type(temp_info.iloc[0][0])

numpy.int64

In [35]:
list(merge_info.iloc[0])

[1, 2004, 1, 1]

In [36]:
temp.iloc[0]['h1']

nan

In [74]:
# i=0
# j=0
# while i<len(temp):
#     if j==len(merge):
#         j=0
#     if temp_info.iloc[i][0]!=21:
#         if list(temp_info.iloc[i])==list(merge_info.iloc[j]):
#             for hour in range(1,25):
#                 temp['h'+str(hour)][i+1]=merge['h'+str(hour)][i+1]
#             print(i,'/',len(temp))
#             i+=1
#         else:
#             j+=1
#     else:
#         i+=1

0
1
2
3
4
5
6
7
8
9

In [75]:
temp.head()

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
id,,,,,,,,,,,,,,,,,,,,,
1,1,2005,3,6,14155.0,14038.0,14019.0,14489.0,14920.0,16072.0,...,16127.0,15448.0,15839.0,17727.0,18895.0,18650.0,18443.0,17580.0,16467.0,15258.0
2,2,2005,3,6,14439.0,14272.0,14109.0,14081.0,14775.0,15491.0,...,13507.0,13414.0,13826.0,15825.0,16996.0,16394.0,15406.0,14278.0,13315.0,12424.0
3,3,2005,3,6,11273.0,10415.0,9943.0,9859.0,9881.0,10248.0,...,14207.0,13614.0,14162.0,16237.0,17430.0,17218.0,16633.0,15238.0,13580.0,11727.0
4,4,2005,3,6,10750.0,10321.0,10107.0,10065.0,10419.0,12101.0,...,13845.0,14350.0,15501.0,17307.0,18786.0,19089.0,19192.0,18416.0,17006.0,16018.0
5,5,2005,3,6,15742.0,15682.0,16132.0,16761.0,17909.0,20234.0,...,18762.0,19162.0,21509.0,25314.0,28060.0,28768.0,28919.0,28653.0,27406.0,26507.0

In [85]:
i=0
j=0
try:
    while True:
        if j==len(merge):
            j=0
        tList=list(temp_info.iloc[i])
        mList=list(merge_info.iloc[j])
        if tList[0]!=21:
            if tList[1]==mList[1]: # year
                if tList[2]==mList[2]:
                    if tList[3]==mList[3]:
                        if tList[0]==mList[0]:
                            for hour in range(1,25):
                                temp['h'+str(hour)][i+1]=merge['h'+str(hour)][i+1]
                            print(i,'/',len(temp))
                            i+=1
                        else:
                            j+=1
                    else:
                        j+=1
                else:
                    j+=1
            else:
                j+=1
        else:
            i+=1
except:
    pass

0 / 1323
1 / 1323
2 / 1323
3 / 1323
4 / 1323
5 / 1323
6 / 1323
7 / 1323
8 / 1323
9 / 1323
10 / 1323
11 / 1323
12 / 1323
13 / 1323
14 / 1323
15 / 1323
16 / 1323
17 / 1323
18 / 1323
19 / 1323
21 / 1323
22 / 1323
23 / 1323
24 / 1323
25 / 1323
26 / 1323
27 / 1323
28 / 1323
29 / 1323
30 / 1323
31 / 1323
32 / 1323
33 / 1323
34 / 1323
35 / 1323
36 / 1323
37 / 1323
38 / 1323
39 / 1323
40 / 1323
42 / 1323
43 / 1323
44 / 1323
45 / 1323
46 / 1323
47 / 1323
48 / 1323
49 / 1323
50 / 1323
51 / 1323
52 / 1323
53 / 1323
54 / 1323
55 / 1323
56 / 1323
57 / 1323
58 / 1323
59 / 1323
60 / 1323
61 / 1323
63 / 1323
64 / 1323
65 / 1323
66 / 1323
67 / 1323
68 / 1323
69 / 1323
70 / 1323
71 / 1323
72 / 1323
73 / 1323
74 / 1323
75 / 1323
76 / 1323
77 / 1323
78 / 1323
79 / 1323
80 / 1323
81 / 1323
82 / 1323
84 / 1323
85 / 1323
86 / 1323
87 / 1323
88 / 1323
89 / 1323
90 / 1323
91 / 1323
92 / 1323
93 / 1323
94 / 1323
95 / 1323
96 / 1323
97 / 1323
98 / 1323
99 / 1323
100 / 1323
101 / 1323
102 / 1323
103 / 1323
105 / 1323
106 / 1323
107 / 1323
108 / 1323
109 / 1323
110 / 1323
111 / 1323
112 / 1323
113 / 1323
114 / 1323
115 / 1323
116 / 1323
117 / 1323
118 / 1323
119 / 1323
120 / 1323
121 / 1323
122 / 1323
123 / 1323
124 / 1323
126 / 1323
127 / 1323
128 / 1323
129 / 1323
130 / 1323
131 / 1323
132 / 1323
133 / 1323
134 / 1323
135 / 1323
136 / 1323
137 / 1323
138 / 1323
139 / 1323
140 / 1323
141 / 1323
142 / 1323
143 / 1323
144 / 1323
145 / 1323
147 / 1323
148 / 1323
149 / 1323
150 / 1323
151 / 1323
152 / 1323
153 / 1323
154 / 1323
155 / 1323
156 / 1323
157 / 1323
158 / 1323
159 / 1323
160 / 1323
161 / 1323
162 / 1323
163 / 1323
164 / 1323
165 / 1323
166 / 1323
168 / 1323
169 / 1323
170 / 1323
171 / 1323
172 / 1323
173 / 1323
174 / 1323
175 / 1323
176 / 1323
177 / 1323
178 / 1323
179 / 1323
180 / 1323
181 / 1323
182 / 1323
183 / 1323
184 / 1323
185 / 1323
186 / 1323
187 / 1323
189 / 1323
190 / 1323
191 / 1323
192 / 1323
193 / 1323
194 / 1323
195 / 1323
196 / 1323
197 / 1323
198 / 1323
199 / 1323
200 / 1323
201 / 1323
202 / 1323
203 / 1323
204 / 1323
205 / 1323
206 / 1323
207 / 1323
208 / 1323
210 / 1323
211 / 1323
212 / 1323
213 / 1323
214 / 1323
215 / 1323
216 / 1323
217 / 1323
218 / 1323
219 / 1323
220 / 1323
221 / 1323
222 / 1323
223 / 1323
224 / 1323
225 / 1323
226 / 1323
227 / 1323
228 / 1323
229 / 1323
231 / 1323
232 / 1323
233 / 1323
234 / 1323
235 / 1323
236 / 1323
237 / 1323
238 / 1323
239 / 1323
240 / 1323
241 / 1323
242 / 1323
243 / 1323
244 / 1323
245 / 1323
246 / 1323
247 / 1323
248 / 1323
249 / 1323
250 / 1323
252 / 1323
253 / 1323
254 / 1323
255 / 1323
256 / 1323
257 / 1323
258 / 1323
259 / 1323
260 / 1323
261 / 1323
262 / 1323
263 / 1323
264 / 1323
265 / 1323
266 / 1323
267 / 1323
268 / 1323
269 / 1323
270 / 1323
271 / 1323
273 / 1323
274 / 1323
275 / 1323
276 / 1323
277 / 1323
278 / 1323
279 / 1323
280 / 1323
281 / 1323
282 / 1323
283 / 1323
284 / 1323
285 / 1323
286 / 1323
287 / 1323
288 / 1323
289 / 1323
290 / 1323
291 / 1323
292 / 1323
294 / 1323
295 / 1323
296 / 1323
297 / 1323
298 / 1323
299 / 1323
300 / 1323
301 / 1323
302 / 1323
303 / 1323
304 / 1323
305 / 1323
306 / 1323
307 / 1323
308 / 1323
309 / 1323
310 / 1323
311 / 1323
312 / 1323
313 / 1323
315 / 1323
316 / 1323
317 / 1323
318 / 1323
319 / 1323
320 / 1323
321 / 1323
322 / 1323
323 / 1323
324 / 1323
325 / 1323
326 / 1323
327 / 1323
328 / 1323
329 / 1323
330 / 1323
331 / 1323
332 / 1323
333 / 1323
334 / 1323
336 / 1323
337 / 1323
338 / 1323
339 / 1323
340 / 1323
341 / 1323
342 / 1323
343 / 1323
344 / 1323
345 / 1323
346 / 1323
347 / 1323
348 / 1323
349 / 1323
350 / 1323
351 / 1323
352 / 1323
353 / 1323
354 / 1323
355 / 1323
357 / 1323
358 / 1323
359 / 1323
360 / 1323
361 / 1323
362 / 1323
363 / 1323
364 / 1323
365 / 1323
366 / 1323
367 / 1323
368 / 1323
369 / 1323
370 / 1323
371 / 1323
372 / 1323
373 / 1323
374 / 1323
375 / 1323
376 / 1323
378 / 1323
379 / 1323
380 / 1323
381 / 1323
382 / 1323
383 / 1323
384 / 1323
385 / 1323
386 / 1323
387 / 1323
388 / 1323
389 / 1323
390 / 1323
391 / 1323
392 / 1323
393 / 1323
394 / 1323
395 / 1323
396 / 1323
397 / 1323
399 / 1323
400 / 1323
401 / 1323
402 / 1323
403 / 1323
404 / 1323
405 / 1323
406 / 1323
407 / 1323
408 / 1323
409 / 1323
410 / 1323
411 / 1323
412 / 1323
413 / 1323
414 / 1323
415 / 1323
416 / 1323
417 / 1323
418 / 1323
420 / 1323
421 / 1323
422 / 1323
423 / 1323
424 / 1323
425 / 1323
426 / 1323
427 / 1323
428 / 1323
429 / 1323
430 / 1323
431 / 1323
432 / 1323
433 / 1323
434 / 1323
435 / 1323
436 / 1323
437 / 1323
438 / 1323
439 / 1323
441 / 1323
442 / 1323
443 / 1323
444 / 1323
445 / 1323
446 / 1323
447 / 1323
448 / 1323
449 / 1323
450 / 1323
451 / 1323
452 / 1323
453 / 1323
454 / 1323
455 / 1323
456 / 1323
457 / 1323
458 / 1323
459 / 1323
460 / 1323
462 / 1323
463 / 1323
464 / 1323
465 / 1323
466 / 1323
467 / 1323
468 / 1323
469 / 1323
470 / 1323
471 / 1323
472 / 1323
473 / 1323
474 / 1323
475 / 1323
476 / 1323
477 / 1323
478 / 1323
479 / 1323
480 / 1323
481 / 1323
483 / 1323
484 / 1323
485 / 1323
486 / 1323
487 / 1323
488 / 1323
489 / 1323
490 / 1323
491 / 1323
492 / 1323
493 / 1323
494 / 1323
495 / 1323
496 / 1323
497 / 1323
498 / 1323
499 / 1323
500 / 1323
501 / 1323
502 / 1323
504 / 1323
505 / 1323
506 / 1323
507 / 1323
508 / 1323
509 / 1323
510 / 1323
511 / 1323
512 / 1323
513 / 1323
514 / 1323
515 / 1323
516 / 1323
517 / 1323
518 / 1323
519 / 1323
520 / 1323
521 / 1323
522 / 1323
523 / 1323
525 / 1323
526 / 1323
527 / 1323
528 / 1323
529 / 1323
530 / 1323
531 / 1323
532 / 1323
533 / 1323
534 / 1323
535 / 1323
536 / 1323
537 / 1323
538 / 1323
539 / 1323
540 / 1323
541 / 1323
542 / 1323
543 / 1323
544 / 1323
546 / 1323
547 / 1323
548 / 1323
549 / 1323
550 / 1323
551 / 1323
552 / 1323
553 / 1323
554 / 1323
555 / 1323
556 / 1323
557 / 1323
558 / 1323
559 / 1323
560 / 1323
561 / 1323
562 / 1323
563 / 1323
564 / 1323
565 / 1323
567 / 1323
568 / 1323
569 / 1323
570 / 1323
571 / 1323
572 / 1323
573 / 1323
574 / 1323
575 / 1323
576 / 1323
577 / 1323
578 / 1323
579 / 1323
580 / 1323
581 / 1323
582 / 1323
583 / 1323
584 / 1323
585 / 1323
586 / 1323
588 / 1323
589 / 1323
590 / 1323
591 / 1323
592 / 1323
593 / 1323
594 / 1323
595 / 1323
596 / 1323
597 / 1323
598 / 1323
599 / 1323
600 / 1323
601 / 1323
602 / 1323
603 / 1323
604 / 1323
605 / 1323
606 / 1323
607 / 1323
609 / 1323
610 / 1323
611 / 1323
612 / 1323
613 / 1323
614 / 1323
615 / 1323
616 / 1323
617 / 1323
618 / 1323
619 / 1323
620 / 1323
621 / 1323
622 / 1323
623 / 1323
624 / 1323
625 / 1323
626 / 1323
627 / 1323
628 / 1323
630 / 1323
631 / 1323
632 / 1323
633 / 1323
634 / 1323
635 / 1323
636 / 1323
637 / 1323
638 / 1323
639 / 1323
640 / 1323
641 / 1323
642 / 1323
643 / 1323
644 / 1323
645 / 1323
646 / 1323
647 / 1323
648 / 1323
649 / 1323
651 / 1323
652 / 1323
653 / 1323
654 / 1323
655 / 1323
656 / 1323
657 / 1323
658 / 1323
659 / 1323
660 / 1323
661 / 1323
662 / 1323
663 / 1323
664 / 1323
665 / 1323
666 / 1323
667 / 1323
668 / 1323
669 / 1323
670 / 1323
672 / 1323
673 / 1323
674 / 1323
675 / 1323
676 / 1323
677 / 1323
678 / 1323
679 / 1323
680 / 1323
681 / 1323
682 / 1323
683 / 1323
684 / 1323
685 / 1323
686 / 1323
687 / 1323
688 / 1323
689 / 1323
690 / 1323
691 / 1323
693 / 1323
694 / 1323
695 / 1323
696 / 1323
697 / 1323
698 / 1323
699 / 1323
700 / 1323
701 / 1323
702 / 1323
703 / 1323
704 / 1323
705 / 1323
706 / 1323
707 / 1323
708 / 1323
709 / 1323
710 / 1323
711 / 1323
712 / 1323
714 / 1323
715 / 1323
716 / 1323
717 / 1323
718 / 1323
719 / 1323
720 / 1323
721 / 1323
722 / 1323
723 / 1323
724 / 1323
725 / 1323
726 / 1323
727 / 1323
728 / 1323
729 / 1323
730 / 1323
731 / 1323
732 / 1323
733 / 1323
735 / 1323
736 / 1323
737 / 1323
738 / 1323
739 / 1323
740 / 1323
741 / 1323
742 / 1323
743 / 1323
744 / 1323
745 / 1323
746 / 1323
747 / 1323
748 / 1323
749 / 1323
750 / 1323
751 / 1323
752 / 1323
753 / 1323
754 / 1323
756 / 1323
757 / 1323
758 / 1323
759 / 1323
760 / 1323
761 / 1323
762 / 1323
763 / 1323
764 / 1323
765 / 1323
766 / 1323
767 / 1323
768 / 1323
769 / 1323
770 / 1323
771 / 1323
772 / 1323
773 / 1323
774 / 1323
775 / 1323
777 / 1323
778 / 1323
779 / 1323
780 / 1323
781 / 1323
782 / 1323
783 / 1323
784 / 1323
785 / 1323
786 / 1323
787 / 1323
788 / 1323
789 / 1323
790 / 1323
791 / 1323

792 / 1323
793 / 1323
794 / 1323
795 / 1323
796 / 1323
798 / 1323
799 / 1323
800 / 1323
801 / 1323
802 / 1323
803 / 1323
804 / 1323
805 / 1323
806 / 1323
807 / 1323
808 / 1323
809 / 1323
810 / 1323
811 / 1323
812 / 1323
813 / 1323
814 / 1323
815 / 1323
816 / 1323
817 / 1323
819 / 1323
820 / 1323
821 / 1323
822 / 1323
823 / 1323
824 / 1323
825 / 1323
826 / 1323
827 / 1323
828 / 1323
829 / 1323
830 / 1323
831 / 1323
832 / 1323
833 / 1323
834 / 1323
835 / 1323
836 / 1323
837 / 1323
838 / 1323
840 / 1323
841 / 1323
842 / 1323
843 / 1323
844 / 1323
845 / 1323
846 / 1323
847 / 1323
848 / 1323
849 / 1323
850 / 1323
851 / 1323
852 / 1323
853 / 1323
854 / 1323
855 / 1323
856 / 1323
857 / 1323
858 / 1323
859 / 1323
861 / 1323
862 / 1323
863 / 1323
864 / 1323
865 / 1323
866 / 1323
867 / 1323
868 / 1323
869 / 1323
870 / 1323
871 / 1323
872 / 1323
873 / 1323
874 / 1323
875 / 1323
876 / 1323
877 / 1323
878 / 1323
879 / 1323
880 / 1323
882 / 1323
883 / 1323
884 / 1323
885 / 1323
886 / 1323
887 / 1323
888 / 1323
889 / 1323
890 / 1323
891 / 1323
892 / 1323
893 / 1323
894 / 1323
895 / 1323
896 / 1323
897 / 1323
898 / 1323
899 / 1323
900 / 1323
901 / 1323
903 / 1323
904 / 1323
905 / 1323
906 / 1323
907 / 1323
908 / 1323
909 / 1323
910 / 1323
911 / 1323
912 / 1323
913 / 1323
914 / 1323
915 / 1323
916 / 1323
917 / 1323
918 / 1323
919 / 1323
920 / 1323
921 / 1323
922 / 1323
924 / 1323
925 / 1323
926 / 1323
927 / 1323
928 / 1323
929 / 1323
930 / 1323
931 / 1323
932 / 1323
933 / 1323
934 / 1323
935 / 1323
936 / 1323
937 / 1323
938 / 1323
939 / 1323
940 / 1323
941 / 1323
942 / 1323
943 / 1323
945 / 1323
946 / 1323
947 / 1323
948 / 1323
949 / 1323
950 / 1323
951 / 1323
952 / 1323
953 / 1323
954 / 1323
955 / 1323
956 / 1323
957 / 1323
958 / 1323
959 / 1323
960 / 1323
961 / 1323
962 / 1323
963 / 1323
964 / 1323
966 / 1323
967 / 1323
968 / 1323
969 / 1323
970 / 1323
971 / 1323
972 / 1323
973 / 1323
974 / 1323
975 / 1323
976 / 1323
977 / 1323
978 / 1323
979 / 1323
980 / 1323
981 / 1323
982 / 1323
983 / 1323
984 / 1323
985 / 1323
987 / 1323
988 / 1323
989 / 1323
990 / 1323
991 / 1323
992 / 1323
993 / 1323
994 / 1323
995 / 1323
996 / 1323
997 / 1323
998 / 1323
999 / 1323
1000 / 1323
1001 / 1323
1002 / 1323
1003 / 1323
1004 / 1323
1005 / 1323
1006 / 1323
1008 / 1323
1009 / 1323
1010 / 1323
1011 / 1323
1012 / 1323
1013 / 1323
1014 / 1323
1015 / 1323
1016 / 1323
1017 / 1323
1018 / 1323
1019 / 1323
1020 / 1323
1021 / 1323
1022 / 1323
1023 / 1323
1024 / 1323
1025 / 1323
1026 / 1323
1027 / 1323
1029 / 1323
1030 / 1323
1031 / 1323
1032 / 1323
1033 / 1323
1034 / 1323
1035 / 1323
1036 / 1323
1037 / 1323
1038 / 1323
1039 / 1323
1040 / 1323
1041 / 1323
1042 / 1323
1043 / 1323
1044 / 1323
1045 / 1323
1046 / 1323
1047 / 1323
1048 / 1323
1050 / 1323
1051 / 1323
1052 / 1323
1053 / 1323
1054 / 1323
1055 / 1323
1056 / 1323
1057 / 1323
1058 / 1323
1059 / 1323
1060 / 1323
1061 / 1323
1062 / 1323
1063 / 1323
1064 / 1323
1065 / 1323
1066 / 1323
1067 / 1323
1068 / 1323
1069 / 1323
1071 / 1323
1072 / 1323
1073 / 1323
1074 / 1323
1075 / 1323
1076 / 1323
1077 / 1323
1078 / 1323
1079 / 1323
1080 / 1323
1081 / 1323
1082 / 1323
1083 / 1323
1084 / 1323
1085 / 1323
1086 / 1323
1087 / 1323
1088 / 1323
1089 / 1323
1090 / 1323
1092 / 1323
1093 / 1323
1094 / 1323
1095 / 1323
1096 / 1323
1097 / 1323
1098 / 1323
1099 / 1323
1100 / 1323
1101 / 1323
1102 / 1323
1103 / 1323
1104 / 1323
1105 / 1323
1106 / 1323
1107 / 1323
1108 / 1323
1109 / 1323
1110 / 1323
1111 / 1323
1113 / 1323
1114 / 1323
1115 / 1323
1116 / 1323
1117 / 1323
1118 / 1323
1119 / 1323
1120 / 1323
1121 / 1323
1122 / 1323
1123 / 1323
1124 / 1323
1125 / 1323
1126 / 1323
1127 / 1323
1128 / 1323
1129 / 1323
1130 / 1323
1131 / 1323
1132 / 1323
1134 / 1323
1135 / 1323
1136 / 1323
1137 / 1323
1138 / 1323
1139 / 1323
1140 / 1323
1141 / 1323
1142 / 1323
1143 / 1323
1144 / 1323
1145 / 1323
1146 / 1323
1147 / 1323
1148 / 1323
1149 / 1323
1150 / 1323
1151 / 1323
1152 / 1323
1153 / 1323
1155 / 1323
1156 / 1323
1157 / 1323
1158 / 1323
1159 / 1323
1160 / 1323
1161 / 1323
1162 / 1323
1163 / 1323
1164 / 1323
1165 / 1323
1166 / 1323
1167 / 1323
1168 / 1323
1169 / 1323
1170 / 1323
1171 / 1323
1172 / 1323
1173 / 1323
1174 / 1323
1176 / 1323
1177 / 1323
1178 / 1323
1179 / 1323
1180 / 1323
1181 / 1323
1182 / 1323
1183 / 1323
1184 / 1323
1185 / 1323
1186 / 1323
1187 / 1323
1188 / 1323
1189 / 1323
1190 / 1323
1191 / 1323
1192 / 1323
1193 / 1323
1194 / 1323
1195 / 1323
1197 / 1323
1198 / 1323
1199 / 1323
1200 / 1323
1201 / 1323
1202 / 1323
1203 / 1323
1204 / 1323
1205 / 1323
1206 / 1323
1207 / 1323
1208 / 1323
1209 / 1323
1210 / 1323
1211 / 1323
1212 / 1323
1213 / 1323
1214 / 1323
1215 / 1323
1216 / 1323
1218 / 1323
1219 / 1323
1220 / 1323
1221 / 1323
1222 / 1323
1223 / 1323
1224 / 1323
1225 / 1323
1226 / 1323
1227 / 1323
1228 / 1323
1229 / 1323
1230 / 1323
1231 / 1323
1232 / 1323
1233 / 1323
1234 / 1323
1235 / 1323
1236 / 1323
1237 / 1323
1239 / 1323
1240 / 1323
1241 / 1323
1242 / 1323
1243 / 1323
1244 / 1323
1245 / 1323
1246 / 1323
1247 / 1323
1248 / 1323
1249 / 1323
1250 / 1323
1251 / 1323
1252 / 1323
1253 / 1323
1254 / 1323
1255 / 1323
1256 / 1323
1257 / 1323
1258 / 1323
1260 / 1323
1261 / 1323
1262 / 1323
1263 / 1323
1264 / 1323
1265 / 1323
1266 / 1323
1267 / 1323
1268 / 1323
1269 / 1323
1270 / 1323
1271 / 1323
1272 / 1323
1273 / 1323
1274 / 1323
1275 / 1323
1276 / 1323
1277 / 1323
1278 / 1323
1279 / 1323
1281 / 1323
1282 / 1323
1283 / 1323
1284 / 1323
1285 / 1323
1286 / 1323
1287 / 1323
1288 / 1323
1289 / 1323
1290 / 1323
1291 / 1323
1292 / 1323
1293 / 1323
1294 / 1323
1295 / 1323
1296 / 1323
1297 / 1323
1298 / 1323
1299 / 1323
1300 / 1323
1302 / 1323
1303 / 1323
1304 / 1323
1305 / 1323
1306 / 1323
1307 / 1323
1308 / 1323
1309 / 1323
1310 / 1323
1311 / 1323
1312 / 1323
1313 / 1323
1314 / 1323
1315 / 1323
1316 / 1323
1317 / 1323
1318 / 1323
1319 / 1323
1320 / 1323
1321 / 1323

In [86]:
temp.tail()

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
id,,,,,,,,,,,,,,,,,,,,,
1319,17,2008,7,7,20432.0,18163.0,16667.0,15623.0,14844.0,14653.0,...,34256.0,35481.0,36622.0,36931.0,36245.0,34583.0,32895.0,30710.0,26953.0,23003.0
1320,18,2008,7,7,20073.0,17763.0,16441.0,15398.0,15249.0,15782.0,...,34586.0,36279.0,37080.0,37370.0,37178.0,35416.0,33304.0,30386.0,25481.0,21770.0
1321,19,2008,7,7,18856.0,16857.0,15565.0,14521.0,14224.0,14893.0,...,29126.0,30831.0,32268.0,32915.0,32027.0,29527.0,27873.0,25817.0,21682.0,18120.0
1322,20,2008,7,7,15459.0,13985.0,13183.0,12605.0,12835.0,13772.0,...,31505.0,34071.0,35936.0,36602.0,36081.0,34286.0,32477.0,30026.0,25647.0,21552.0
1323,21,2008,7,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
temp.to_csv("submission_template_predict.csv")