In [1]:
## 서정준    학번 : 201511345

In [2]:
temp = 2
print(temp)

2

In [3]:
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
4
21
2.3333333333333335

In [4]:
a=7
b=3
print(a//b)

2

In [5]:
a=7
b=3
print(a%b)

1

In [6]:
a=7
b=3
print(a**b)

343

In [7]:
temp='python is easy'
print(temp)

python is easy

In [8]:
temp='python is easy'
print(len(temp))

14

In [9]:
print('python'+'is easy')
print('python '+'is easy')

pythonis easy
python is easy

In [10]:
temp='python is easy'
print(temp[3])

h

In [11]:
temp='python is easy'
print(temp[0:5])

pytho

In [12]:
temp='python is easy'
print(temp.split())
temp2='python,java,R,SAS'
print(temp2.split(','))

['python', 'is', 'easy']
['python', 'java', 'R', 'SAS']

In [13]:
temp2=['python','java','R','SAS']
print(','.join(temp2))

python,java,R,SAS

In [14]:
number=['one','two','three','four']
print(number)

['one', 'two', 'three', 'four']

In [15]:
number_tuple=('one','two','three','four')
print(number_tuple)
print(list(number_tuple))

('one', 'two', 'three', 'four')
['one', 'two', 'three', 'four']

In [16]:
number=['one','two','three','four']
print(number[1])
print(number[2:4])

two
['three', 'four']

In [17]:
number=['one','two','three','four']
number[0]='first'
print(number)

['first', 'two', 'three', 'four']

In [18]:
number=['one','two','three','four']
number.append('five')
print(number)

['one', 'two', 'three', 'four', 'five']

In [19]:
number=['one','two','three','four']
del number[1]
print(number)

['one', 'three', 'four']

In [20]:
number.remove('three')
print(number)

['one', 'four']

In [21]:
number1=['one','two','three','four']
number2=['six','seven','eight','nine']
number1.extend(number2)
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [22]:
number=['one','two','three','four']
newnumber=sorted(number)
print(newnumber)
print(number)

['four', 'one', 'three', 'two']
['one', 'two', 'three', 'four']

In [23]:
number.sort()
print(number)

['four', 'one', 'three', 'two']

In [24]:
number=[1,2,3,4]
number.sort(reverse=True)
print(number)

[4, 3, 2, 1]

In [25]:
number=['one','two','three','four']
print(len(number))

4

In [26]:
number=(1,2,3,4)
print(number)
print(type(number))

(1, 2, 3, 4)
<class 'tuple'>

In [27]:
fruit_price=[['apple',3500],['peer',2500],['cherry',5000]]
fruit_price=dict(fruit_price)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [28]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
print(fruit_price.keys())

dict_keys(['apple', 'peer', 'cherry'])

In [29]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
print(fruit_price['peer'])

2500

In [30]:
school_class={1:['mina','jane','mark'],2:['peter','pay','parker'],3:['pay','joy','conan']}
print(school_class.get(1))

['mina', 'jane', 'mark']

In [31]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
others={'banana':3200,'grape':2000}
fruit_price.update(others)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [32]:
school_class={1:['mina','jane','mark'],2:['peter','pay','parker'],3:['pay','joy','conan']}
other_class={3:['john','eric','terry']}
school_class.update(other_class)
print(school_class)

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker'], 3: ['john', 'eric', 'terry']}

In [33]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
del fruit_price['apple']
print(fruit_price)

{'peer': 2500, 'cherry': 5000}

In [34]:
school_class={1:['mina','jane','mark'],2:['peter','pay','parker'],3:['pay','joy','conan']}
del school_class[3]
print(school_class)

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker']}

In [35]:
python=True
print(type(python))

<class 'bool'>

In [36]:
python=True
if(python):
    print('조건문이 참입니다.')

조건문이 참입니다.

In [37]:
python=True
if(python):
    print('조건문이 참입니다.')
else:
    print('조건문이 참이 아닙니다.')

조건문이 참입니다.

In [38]:
python=False
pycharm=True
if(python):
    print('첫번째 조건문이 참입니다.')
elif(pycharm):
    print('첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.')
else:
    print('조건문이 참이 아닙니다.')

첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.

In [39]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
fruit=['apple','peer','cherry']
print(type(fruit))
for i in fruit:
    print(i)

<class 'list'>
apple
peer
cherry

In [41]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i in fruit_price.keys():
    print(i)

apple
peer
cherry

In [42]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i in fruit_price.values():
    print(i)

3500
2500
5000

In [43]:
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for item in fruit_price.items():
    print(item)

('apple', 3500)
('peer', 2500)
('cherry', 5000)

In [44]:
high_price=[]
low_price=[]
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for item in fruit_price.items():
    if item[1]>3000:
        high_price.append(item[0])
    else:
        low_price.append(item[0])
print(high_price)
print(low_price)

['apple', 'cherry']
['peer']

In [45]:
fruit=open('D://fruit.txt','wt')
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for item in fruit_price.items():
    print(item,file=fruit)
fruit.close()

In [46]:
fruit=open('D://fruit2.txt','wt')
fruit.write('apple 3500\n')
fruit.write('peer 2500\n')
fruit.write('cherry 5000\n')
fruit.close()

In [47]:
import csv
with open('D://fruit.csv','w',newline='') as fruit:
    writer=csv.writer(fruit,delimiter=',')
    writer.writerow(['apple'])
    writer.writerow(['peer'])    
    writer.writerow(['cherry'])    
    writer.writerow(['banana'])    
    writer.writerow(['peach'])

In [48]:
fruit_path=open('d://fruit.txt','rt')
fruit=fruit_path.readlines()
print(fruit)

["('apple', 3500)\n", "('peer', 2500)\n", "('cherry', 5000)\n"]

In [49]:
import csv

f = open('d://fruit.csv','rt')
csvRead=csv.reader(f)
print(csvRead)

fruit=[]
for i in csvRead:
    fruit.append(csvRead)
    print(i)

<_csv.reader object at 0x000000EE69656CE0>
['apple']
['peer']
['cherry']
['banana']
['peach']