In [1]:
### import
from pandas import Series, DataFrame
import pandas as pd
### series
fruit = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [2]:
fruit = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [3]:
### Series()
fruitData={'apple':2500,'banana':3800,'peer':1200,'cherry':6000}
fruit=Series(fruitData)
print(type(fruitData))
print(type(fruit))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [4]:
### name
fruit = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
fruit.name='fruitPrice'
fruit.index.name='fruitName'
print(fruit)

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [5]:
### Dataframe()
fruitData = {'fruitName':['apple','banana','cherry','peer'],
            'fruitPrice':[2500,3800,6000,1200],
            'num':[10,5,3,8]}
fruitFrame=DataFrame(fruitData)
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [6]:
### columns
fruitData = {'fruitName':['apple','banana','cherry','peer'],
            'fruitPrice':[2500,3800,6000,1200],
            'num':[10,5,3,8]}
fruitFrame = DataFrame(fruitData,columns=['fruitPrice','num','fruitName'])
print(fruitFrame)

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [7]:
### 사전형식
print(fruitFrame['fruitName'])

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [8]:
### 속성형식
print(fruitFrame.fruitName)

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [9]:
### 컬럼 추가하기 - 같은 값
fruitFrame['year'] = 2016
print(fruitFrame)

   fruitPrice  num fruitName  year
0        2500   10     apple  2016
1        3800    5    banana  2016
2        6000    3    cherry  2016
3        1200    8      peer  2016

In [10]:
### 컬럼 추가하기 - 다른 값
variable=Series([4,2,1],index=[0,2,3])
fruitFrame['stock'] = variable
print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        3800    5    banana  2016    NaN
2        6000    3    cherry  2016    2.0
3        1200    8      peer  2016    1.0

In [11]:
### row 삭제하기 drop()
fruit = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
new_fruit=fruit.drop('banana')
print(fruit)
print(new_fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64
apple     2500
peer      1200
cherry    6000
dtype: int64

In [12]:
### row 삭제하기 drop()
fruitData = {'fruitName':['apple','banana','cherry','peer'],
            'fruitPrice':[2500,3800,6000,1200],
            'num':[10,5,3,8]}
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index=fruitName,columns=['fruitPrice','num'])
fruitFrame2 = fruitFrame.drop(['apple','cherry'])
print(fruitFrame)
print(fruitFrame2)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
        fruitPrice  num
banana        3800    5
peer          1200    8

In [13]:
### column 삭제하기 drop()
fruitFrame3 = fruitFrame.drop('num',axis=1)
print(fruitFrame)
print(fruitFrame3)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
        fruitPrice
apple         2500
banana        3800
cherry        6000
peer          1200

In [14]:
### Series Slice
fruit = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
fruit['apple':'peer']

apple     2500
banana    3800
peer      1200
dtype: int64

In [16]:
fruitData = {'fruitName':['apple','banana','cherry','peer'],
            'fruitPrice':[2500,3800,6000,1200],
            'num':[10,5,3,8]}
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index=fruitName,columns=['fruitPrice','num'])
print(fruitFrame)
print(fruitFrame['fruitPrice'])
print(fruitFrame['apple':'banana'])

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
apple     2500
banana    3800
cherry    6000
peer      1200
Name: fruitPrice, dtype: int64
        fruitPrice  num
apple         2500   10
banana        3800    5

In [17]:
### Series 연산
fruit1=Series([5,9,10,3],index=['apple','banana','cherry','peer'])
fruit2=Series([3,2,9,5,10],index=['apple','orange','banana','cherry','mango'])
print(fruit1)
print(fruit2)
print(fruit1+fruit2)

apple      5
banana     9
cherry    10
peer       3
dtype: int64
apple      3
orange     2
banana     9
cherry     5
mango     10
dtype: int64
apple      8.0
banana    18.0
cherry    15.0
mango      NaN
orange     NaN
peer       NaN
dtype: float64

In [18]:
### DataFrame 연산
fruitData1 = {'Ohio':[4,8,3,5],'Texas':[0,1,2,3]}
fruitFrame1 = DataFrame(fruitData1,columns=['Ohio','Texas'],index=['apple','banana','cherry','peer'])
fruitData2 = {'Ohio':[3,0,2,1,7],'Colorado':[5,4,3,6,0]}
fruitFrame2 = DataFrame(fruitData2,columns=['Ohio','Colorado'],index=['apple','orange','banana','cherry','mango'])
print(fruitFrame1)
print(fruitFrame2)
print(fruitFrame1+fruitFrame2)

        Ohio  Texas
apple      4      0
banana     8      1
cherry     3      2
peer       5      3
        Ohio  Colorado
apple      3         5
orange     0         4
banana     2         3
cherry     1         6
mango      7         0
        Colorado  Ohio  Texas
apple        NaN   7.0    NaN
banana       NaN  10.0    NaN
cherry       NaN   4.0    NaN
mango        NaN   NaN    NaN
orange       NaN   NaN    NaN
peer         NaN   NaN    NaN

In [19]:
### Series 정렬
fruit = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
fruit.sort_values(ascending=False)

cherry    6000
banana    3800
apple     2500
peer      1200
dtype: int64

In [20]:
### DataFrame 정렬
fruitData = {'fruitName':['apple','banana','cherry','peer'],
            'fruitPrice':[2500,3800,6000,1200],
            'num':[10,5,3,8]}
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index=fruitName,columns=['num','fruitPrice'])

print(fruitFrame)
print(fruitFrame.sort_index())
print(fruitFrame.sort_index(axis=1))

        num  fruitPrice
apple    10        2500
banana    5        3800
cherry    3        6000
peer      8        1200
        num  fruitPrice
apple    10        2500
banana    5        3800
cherry    3        6000
peer      8        1200
        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

In [21]:
### DataFrame 값 정렬
print(fruitFrame.sort_values(by=['fruitPrice']))

        num  fruitPrice
peer      8        1200
apple    10        2500
banana    5        3800
cherry    3        6000

In [23]:
### Pandas를 이용한 데이터 입력
german =pd.read_csv('http://freakonometrics.free.fr/german_credit.csv')
print(list(german.columns.values))

['Creditability',
 'Account Balance',
 'Duration of Credit (month)',
 'Payment Status of Previous Credit',
 'Purpose',
 'Credit Amount',
 'Value Savings/Stocks',
 'Length of current employment',
 'Instalment per cent',
 'Sex & Marital Status',
 'Guarantors',
 'Duration in Current address',
 'Most valuable available asset',
 'Age (years)',
 'Concurrent Credits',
 'Type of apartment',
 'No of Credits at this Bank',
 'Occupation',
 'No of dependents',
 'Telephone',
 'Foreign Worker']

In [28]:
### min
print(german.min())

Creditability                          0
Account Balance                        1
Duration of Credit (month)             4
Payment Status of Previous Credit      0
Purpose                                0
Credit Amount                        250
Value Savings/Stocks                   1
Length of current employment           1
Instalment per cent                    1
Sex & Marital Status                   1
Guarantors                             1
Duration in Current address            1
Most valuable available asset          1
Age (years)                           19
Concurrent Credits                     1
Type of apartment                      1
No of Credits at this Bank             1
Occupation                             1
No of dependents                       1
Telephone                              1
Foreign Worker                         1
dtype: int64

In [29]:
### max
print(german.max())

Creditability                            1
Account Balance                          4
Duration of Credit (month)              72
Payment Status of Previous Credit        4
Purpose                                 10
Credit Amount                        18424
Value Savings/Stocks                     5
Length of current employment             5
Instalment per cent                      4
Sex & Marital Status                     4
Guarantors                               3
Duration in Current address              4
Most valuable available asset            4
Age (years)                             75
Concurrent Credits                       3
Type of apartment                        3
No of Credits at this Bank               4
Occupation                               4
No of dependents                         2
Telephone                                2
Foreign Worker                           2
dtype: int64

In [31]:
### mean
print(german.mean())

Creditability                           0.700
Account Balance                         2.577
Duration of Credit (month)             20.903
Payment Status of Previous Credit       2.545
Purpose                                 2.828
Credit Amount                        3271.248
Value Savings/Stocks                    2.105
Length of current employment            3.384
Instalment per cent                     2.973
Sex & Marital Status                    2.682
Guarantors                              1.145
Duration in Current address             2.845
Most valuable available asset           2.358
Age (years)                            35.542
Concurrent Credits                      2.675
Type of apartment                       1.928
No of Credits at this Bank              1.407
Occupation                              2.904
No of dependents                        1.155
Telephone                               1.404
Foreign Worker                          1.037
dtype: float64

In [32]:
### 요약통계량 describe
print(german.describe())

       Creditability  Account Balance  Duration of Credit (month)  \
count    1000.000000      1000.000000                 1000.000000
mean        0.700000         2.577000                   20.903000
std         0.458487         1.257638                   12.058814
min         0.000000         1.000000                    4.000000
25%         0.000000         1.000000                   12.000000
50%         1.000000         2.000000                   18.000000
75%         1.000000         4.000000                   24.000000
max         1.000000         4.000000                   72.000000

       Payment Status of Previous Credit      Purpose  Credit Amount  \
count                         1000.00000  1000.000000     1000.00000
mean                             2.54500     2.828000     3271.24800
std                              1.08312     2.744439     2822.75176
min                              0.00000     0.000000      250.00000
25%                              2.00000     1.000000     1365.50000
50%                              2.00000     2.000000     2319.50000
75%                              4.00000     3.000000     3972.25000
max                              4.00000    10.000000    18424.00000

       Value Savings/Stocks  Length of current employment  \
count           1000.000000                   1000.000000
mean               2.105000                      3.384000
std                1.580023                      1.208306
min                1.000000                      1.000000
25%                1.000000                      3.000000
50%                1.000000                      3.000000
75%                3.000000                      5.000000
max                5.000000                      5.000000

       Instalment per cent  Sex & Marital Status  ...  \
count          1000.000000            1000.00000  ...
mean              2.973000               2.68200  ...
std               1.118715               0.70808  ...
min               1.000000               1.00000  ...
25%               2.000000               2.00000  ...
50%               3.000000               3.00000  ...
75%               4.000000               3.00000  ...
max               4.000000               4.00000  ...

       Duration in Current address  Most valuable available asset  \
count                  1000.000000                    1000.000000
mean                      2.845000                       2.358000
std                       1.103718                       1.050209
min                       1.000000                       1.000000
25%                       2.000000                       1.000000
50%                       3.000000                       2.000000
75%                       4.000000                       3.000000
max                       4.000000                       4.000000

       Age (years)  Concurrent Credits  Type of apartment  \
count   1000.00000         1000.000000        1000.000000
mean      35.54200            2.675000           1.928000
std       11.35267            0.705601           0.530186
min       19.00000            1.000000           1.000000
25%       27.00000            3.000000           2.000000
50%       33.00000            3.000000           2.000000
75%       42.00000            3.000000           2.000000
max       75.00000            3.000000           3.000000

       No of Credits at this Bank   Occupation  No of dependents    Telephone  \
count                 1000.000000  1000.000000       1000.000000  1000.000000
mean                     1.407000     2.904000          1.155000     1.404000
std                      0.577654     0.653614          0.362086     0.490943
min                      1.000000     1.000000          1.000000     1.000000
25%                      1.000000     3.000000          1.000000     1.000000
50%                      1.000000     3.000000          1.000000     1.000000
75%                      2.000000     3.000000          1.000000     2.000000
max                      4.000000     4.000000          2.000000     2.000000

       Foreign Worker
count     1000.000000
mean         1.037000
std          0.188856
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000

[8 rows x 21 columns]

In [36]:
### corr cov
german =pd.read_csv('http://freakonometrics.free.fr/german_credit.csv')
german_sample = german[['Duration of Credit (month)','Credit Amount','Age (years)']]
print(german_sample.corr())
print(german_sample.cov())

                            Duration of Credit (month)  Credit Amount  \
Duration of Credit (month)                    1.000000       0.624988
Credit Amount                                 0.624988       1.000000
Age (years)                                  -0.037550       0.032273

                            Age (years)
Duration of Credit (month)    -0.037550
Credit Amount                  0.032273
Age (years)                    1.000000
                            Duration of Credit (month)  Credit Amount  \
Duration of Credit (month)                  145.415006   2.127401e+04
Credit Amount                             21274.007063   7.967927e+06
Age (years)                                  -5.140567   1.034203e+03

                            Age (years)
Duration of Credit (month)    -5.140567
Credit Amount               1034.202787
Age (years)                  128.883119

In [39]:
### 한개 group
german =pd.read_csv('http://freakonometrics.free.fr/german_credit.csv')
german_sample = german[['Type of apartment','Sex & Marital Status','Credit Amount']]
german_grouped = german_sample['Credit Amount'].groupby(german_sample['Type of apartment'])
print(german_grouped.mean())

Type of apartment
1    3122.553073
2    3067.257703
3    4881.205607
Name: Credit Amount, dtype: float64

In [42]:
### 두개 group
german_sample = german[['Type of apartment','Purpose','Credit Amount']]
german_grouped2 = german_sample['Credit Amount'].groupby([german_sample['Purpose'],german_sample['Type of apartment']])
print(german_grouped2.mean())

Purpose  Type of apartment
0        1                    2597.225000
         2                    2811.024242
         3                    5138.689655
1        1                    5037.086957
         2                    4915.222222
         3                    6609.923077
2        1                    2727.354167
         2                    3107.450820
         3                    4100.181818
3        1                    2199.763158
         2                    2540.533040
         3                    2417.333333
4        1                    1255.500000
         2                    1546.500000
5        1                    1522.000000
         2                    2866.000000
         3                    2750.666667
6        1                    3156.444444
         2                    2492.423077
         3                    4387.266667
8        1                     902.000000
         2                    1243.875000
9        1                    5614.125000
         2                    3800.592105
         3                    4931.800000
10       2                    8576.111111
         3                    7109.000000
Name: Credit Amount, dtype: float64

In [43]:
### group 한 개 반복
german_sample=german[['Type of apartment','Sex & Marital Status','Credit Amount']]
for type, group in german_sample.groupby('Type of apartment'):
    print(type)
    print(group.head(n=3))

1
   Type of apartment  Sex & Marital Status  Credit Amount
0                  1                     2           1049
1                  1                     3           2799
2                  1                     2            841
2
   Type of apartment  Sex & Marital Status  Credit Amount
4                  2                     3           2171
6                  2                     3           3398
7                  2                     3           1361
3
    Type of apartment  Sex & Marital Status  Credit Amount
29                  3                     3           4796
44                  3                     3           1239
69                  3                     3           2032

In [44]:
### group 두 개 반복
for (type,sex), group in german_sample.groupby(['Type of apartment','Sex & Marital Status']):
    print((type,sex))
    print(group.head(n=3))

(1, 1)
     Type of apartment  Sex & Marital Status  Credit Amount
369                  1                     1           3021
777                  1                     1           3384
797                  1                     1           2319
(1, 2)
   Type of apartment  Sex & Marital Status  Credit Amount
0                  1                     2           1049
2                  1                     2            841
9                  1                     2           3758
(1, 3)
   Type of apartment  Sex & Marital Status  Credit Amount
1                  1                     3           2799
3                  1                     3           2122
5                  1                     3           2241
(1, 4)
    Type of apartment  Sex & Marital Status  Credit Amount
11                  1                     4           6187
14                  1                     4           1936
17                  1                     4           3213
(2, 1)
     Type of apartment  Sex & Marital Status  Credit Amount
50                   2                     1            640
97                   2                     1           4455
112                  2                     1           2366
(2, 2)
    Type of apartment  Sex & Marital Status  Credit Amount
8                   2                     2           1098
12                  2                     2           1957
33                  2                     2           1376
(2, 3)
   Type of apartment  Sex & Marital Status  Credit Amount
4                  2                     3           2171
6                  2                     3           3398
7                  2                     3           1361
(2, 4)
    Type of apartment  Sex & Marital Status  Credit Amount
48                  2                     4           1474
57                  2                     4           1053
78                  2                     4           1602
(3, 1)
     Type of apartment  Sex & Marital Status  Credit Amount
620                  3                     1           9277
749                  3                     1           2892
784                  3                     1           2149
(3, 2)
     Type of apartment  Sex & Marital Status  Credit Amount
423                  3                     2           2133
453                  3                     2           5743
467                  3                     2           5324
(3, 3)
    Type of apartment  Sex & Marital Status  Credit Amount
29                  3                     3           4796
44                  3                     3           1239
69                  3                     3           2032
(3, 4)
     Type of apartment  Sex & Marital Status  Credit Amount
125                  3                     4           5103