In [29]:
# text 파일 불러와서 dataframe으로 만들기

In [2]:
import pandas as pd

In [27]:
df=pd.read_csv('c:/python/iris.txt', sep=' ', index_col=0)
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [28]:
# KMeans Clustering

In [31]:
from sklearn.cluster import KMeans

In [39]:
# df의 'Species' row를 제거하고 clusturing
df_num=df[['Sepal.Length','Sepal.Width','Petal.Length','Petal.Width']]
df_num.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
1           5.1          3.5           1.4          0.2
2           4.9          3.0           1.4          0.2
3           4.7          3.2           1.3          0.2
4           4.6          3.1           1.5          0.2
5           5.0          3.6           1.4          0.2

In [40]:
kmeans=KMeans(n_clusters=3).fit(df_num)
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [41]:
centroids=kmeans.cluster_centers_
centroids

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [5.006     , 3.428     , 1.462     , 0.246     ]])

In [ ]:
plt.scatter(df['x1'],df['x2'],c=kmeans.labels_.astype(float),s=20,alpha=5)
plt.scatter(centroids[:,0],centroids[:,1],c='red',s=50)
plt.show()